*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgba(223, 212, 212, 0.553);
}
/* ###################### Utility classes ########################## */




/* ######################## navbar-container desktop mode######################## */




/* ################# navbar-section Mobile version #################*/




/* ################## hero-section  ###################*/




/* ################### Event-section ##################*/




/* ################## About Us ################### */
.about-us{
    width: 80vw;
    height: 70vh;
    /* border: 2px solid red; */
    margin: 2em auto;
}
.about-img{
    width: 65%;
    height: 50%;
    /* border: 2px solid green; */
    border-radius: 20px;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;

}
.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.about-content{
    background-color: white;
    border-radius: 8px;
    width: 50%;
    /* border: 2px solid black; */
    height: 18%;
    position: absolute;
    overflow: hidden;
    top: 55%;
    transform: translateY(-50%);
    z-index: 2;
  
    text-overflow: ellipsis;
}
.about-content h1{
    margin: 0.5em;
    margin-bottom: 0.8em;
    padding: 0.2em;
    text-align: justify;
   
}


/* #################### Team - section ############### */
.team-heading{
    text-align: center;
    margin-top: 5rem;
    
    font-size: 5rem;
}
.team-section{
    max-width: 60vw;
    max-height: fit-content;
    margin: 7rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
    row-gap: 7rem;
    column-gap: 0px;
    justify-content: center;
    place-items: center;
    /* border: 2px solid black; */

    
   }
   .col{
       /* border: 2px solid red; */
       width: 120px;
       height: 120px;
       border-radius: 20%;
       background-color: orange;
       transform: rotate(-20deg);
       z-index: 1;
   }
   .img-container{
       justify-items: center;
       justify-self:center ;
       align-self: center;
       border-radius: 12%;
       transform: rotate(20deg) translate(-12px,-12px) scale(1.1,1.1);   
       transition: transform 0.5s ease-in-out;
       z-index: 2;
   }
   .img-container img{
       /* border: 2px solid red; */
       width: 120px;
       height: 120px;
       justify-self: center;
       align-self: center;
       position: relative;
       object-fit: cover;
       border-radius: 12%;
       transition: transform 0.3s ease-in-out;
   }
   .img-container:hover img{
       /* background-color: red; */
       /* transform: rotate(225deg); */
       transform: translateY(-50px);
       transform-origin: center;
       transform: rotate(0deg) translate(-8px,-30px);
   }
   
   
   @media screen and (max-width:500px) {
       .team-section{
        row-gap: 80px;
        column-gap: 15px;
           grid-template-columns: repeat(2, 1fr);
           grid-template-rows: repeat((4, 1fr));
           max-height: fit-content;
       }
       
   }
   @media screen and (min-width:501px) and (max-width:768px){
       .team-section{
        row-gap: 80px;
        column-gap: 15px;
           max-height: fit-content;
           grid-template-columns: repeat(2, 1fr);
           grid-template-rows: repeat((4, 1fr));
       }
   }
   @media screen and (min-width:769px) and (max-width:1057px){
       .team-section{
        row-gap: 80px;
        column-gap: 15px;
           max-height: fit-content;
           
           grid-template-columns: repeat(3,1fr);
           grid-template-rows: repeat(3,1fr);
       }
   }


/* ################## contact-us ##################### */




/* ################### Footer ######################## */

